body {
  background: white;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

.navbar {
  background-image: linear-gradient(to bottom right, #438eff, white);
  border-bottom: 1px solid white;
  height: 7vh;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;

  .navbar-brand {
    color: #eee;
    display: block;
    float: left;
    font-weight: 700;
    font-size: 28px;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
    text-decoration: none;
    font-family: 'Satisfy', cursive;
  }

  .userNum {
    font-size: large;
    color: #518bcc;
  }
}

.message {
  display: flex;
  padding: 5px;

  .message.system {
    font-style: italic;
    padding: 5px 20px;
  }

  .message-content,
  .message-username {
    overflow: hidden;
    margin: 5px;
    padding: 0 10px;
  }

  .message-content {
    flex: 8;
  }

  .message-username {
    flex: 2;
    font-weight: 700;
  }
}

.chatbar {
  background: #91beff;
  border-top: 1px solid white;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;

  .chatbar-message,
  .chatbar-username {
    border: 1px solid white;
    border-radius: 100px;
    display: block;
    height: 40px;
    line-height: 40px;
    margin: 5px;
    padding: 0 9px;
  }

  .chatbar-username {
    flex: 2;
  }

  .chatbar-message {
    flex: 8;
  }
}